<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLJ asistente virtual</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <h2>BLJ asistente virtual</h2>
        </div>
        <div class="chat-body" id="chat-body">
            
        </div>
        <div class="chat-input">
            <input type="text" id="user-input" placeholder="Escribe un mensaje...">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>
</body>
</html>
